.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px; 
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu li a:hover {
    color: rgb(134, 106, 106);
}

.nav-menu li a {
    text-decoration: none;
    color: black;
}

.nav-login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-login button {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    color: rgb(73, 35, 35);
    background-color: white;
    cursor: pointer;
}

.nav-login button a {
    text-decoration: none;
    color: black;
}