.image-slider-container {
  width: 100%;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slider-caption {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}

.slider-item-1,
.slider-item-2 {
  position: relative;
  display: flex;
}

.first-slider-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  margin-left: 20%;
  font-size: 40px;
}

.second-slider-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 40px;
  margin-left: 200px;
  border: solid 1px;
  background-color: rgb(134, 106, 106);
  color: white;
  padding: 10px;
}

.slider-item-1 .buy-now-button {
  background-color: rgb(134, 106, 106);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
