.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-menu li a:hover {
    color: rgb(134, 106, 106);
}

.nav-menu li a {
    text-decoration: none;
    color: black;
}

.nav-login {
    display: flex;
    margin-left: auto;
    /* position: fixed;
    top: 20px;
    right: 100px;
    z-index: 999; */
}

.nav-login button {
    padding: 10px;
    border: none;
    color: rgb(73, 35, 35);
    background-color: white;
    cursor: pointer;
}

.nav-login button a {
    text-decoration: none;
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: auto;
}

.search-bar input {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgb(134, 106, 106);
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 300px;
    /* position: fixed;
    top: 20px;
    right: 300px;
    z-index: 999; */
}

.cart-icon button a {
    font-size: 25px;
    color: rgb(134, 106, 106);
    background-color: white;
}

.cart-icon button {
    background-color: white;
    border: none;
}

.cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; */
}