.cart-products-container {
    margin: 20px;
  }
  
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #555;
  }
  
  .product-quantity {
    font-style: italic;
  }
  
  .delete-button {
    padding: 10px;
    width: 10%;
    margin-left: 20px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(134, 106, 106);
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: rgb(184, 160, 160);
    cursor: pointer;
}
  